@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/*Colors,Transform*/
:root {
    --background:#f76d2b; 
    --text-transform: uppercase;
    --color:#f76d2b;
    --color-1: #fff;
    --color-2:#000000; 
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    background: var(--color-1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.nav,
.nav .nav-links {
    display: flex;
    align-items: center;
}
.nav {
    justify-content: space-between;
}
a {
    color: var(--color-2);
    text-decoration: none;
}
.nav .logo {
    font-size: 22px;
    font-weight: 500;
}
  .nav .nav-links {
    column-gap: 20px;
    list-style: none;
}
.nav .nav-links a {
    transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
    opacity: 0;
    pointer-events: none;
}
.nav .search-icon {
    color: var(--color-2);
    font-size: 20px;
    cursor: pointer;
}
.nav .search-box {
    position: absolute;
    right: 250px;
    height: 45px;
    max-width: 555px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
}
.nav.openSearch .search-box {
    opacity: 1;
    pointer-events: auto;
}
.search-box .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    left: 15px;
    color:var(--color-2);
    transform: translateY(-50%);
}
.search-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #ffdcdc79;
    padding: 0 15px 0 45px;
}
  
.nav .navOpenBtn,
.nav .navCloseBtn {
    display: none;
}
  
/* responsive */
@media screen and (max-width: 1160px) {
.nav {
    padding: 15px 100px;
}
.nav .search-box {
    right: 150px;
}
}
@media screen and (max-width: 1024px) {
    .nav {
        width: 1024px;
        padding: 15px 50px;
    }
}
@media screen and (max-width: 950px) {
.nav {
    padding: 15px 50px;
}
.nav .search-box {
    right: 100px;
    max-width: 400px;
}
}
@media screen and (max-width: 768px) {
.nav .navOpenBtn,
.nav .navCloseBtn {
    display: block;
}
.nav {
    width: 768px;
    padding: 15px 20px;
}
.nav-links a {
    color: var(--color-1);
}
.nav .nav-links {
    position: fixed;
    top: 100;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
}
.nav.openNav .nav-links {
    left: 0;
}
.nav .navOpenBtn {
    color: var(--color-2);
    font-size: 20px;
    cursor: pointer;
}
.nav .navCloseBtn {
    position: absolute;
    top: 100px;
    right: 20px;
    color:var(--color-2);
    font-size: 20px;
    cursor: pointer;
}
.nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
}
@media screen and (max-width: 480px) {
.nav .navOpenBtn,
.nav .navCloseBtn {
    display: block;
}
.nav {
        width: 480px;
    padding: 15px 20px;
}
.nav-links a {
    color: var(--color-1);
}
.nav .nav-links {
    position: fixed;
    top: 100;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
}
.nav.openNav .nav-links {
    left: 0;
}
.nav .navOpenBtn {
    color: var(--color-2);
    font-size: 20px;
    cursor: pointer;
}
.nav .navCloseBtn {
    position: absolute;
    top: 100px;
    right: 20px;
    color:var(--color-2);
    font-size: 20px;
    cursor: pointer;
}
.nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
}
@media screen and (max-width: 425px) {
.nav .navOpenBtn,
.nav .navCloseBtn {
    display: block;
}
.nav {
width: 425px;
}
.nav-links a {
    color: var(--color-1);
}
.nav .nav-links {
    position: fixed;
    top: 100;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
}
.nav.openNav .nav-links {
    left: 0;
}
.nav .navOpenBtn {
    color: var(--color-2);
    font-size: 20px;
    cursor: pointer;
}
.nav .navCloseBtn {
    position: absolute;
    top: 100px;
    right: 20px;
    color:var(--color-2);
    font-size: 20px;
    cursor: pointer;
}
}
@media screen and (max-width: 375px) {
.nav .navOpenBtn,
.nav .navCloseBtn {
    display: block;
}
.nav {
    width: 375px;
}
.nav-links a {
    color: var(--color-1);
}
.nav .nav-links {
    position: fixed;
    top: 100;
    left: -100%;
    height: 100%;
    max-width: 280px;             
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
}
.nav.openNav .nav-links {
    left: 0;
}
.nav .navOpenBtn {
    color: var(--color-2);
    font-size: 20px;
    cursor: pointer;
}
.nav .navCloseBtn {
    position: absolute;
    top: 100px;
    right: 20px;
    color:var(--color-2);
    font-size: 20px;
    cursor: pointer;
} 
.search-box {
    width: 40%;
}
}